
page-health-info-popup {
    @import '../../lib/mobiscroll/css/mobiscroll.angular.min.css';
    .health-info-body {
        .health-info-img {
            img {
                height: 100px;
                width: 100px;
            }
        }

        .card-btn {
            height: 3rem !important;
            border-radius: 0;
            font-size: 1rem;
            font-weight: 500;
            padding: 0 3rem !important;
        }
        .col-margin{
            margin: 1.5rem 0 !important;
        }
    }
}
