<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<!-- <ion-header class="bg">
	<ion-navbar>
		<ion-buttons left> -->
<!-- <button ion-button icon-only color="royal"> -->
<!-- <span><img src="assets/imgs/cart.png" class="cart" style="position: relative;left: 30px;"></span> -->
<!-- <span><img src="assets/imgs/popup-screen-Recovered.png" class="cart" style="left: -20px;"></span>
			</button> -->
<!-- <button ion-button menuToggle>
				<ion-icon name="menu"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title><img src="assets/imgs/heart-logo.png" class="logo_small"> -->
<!-- <span float-right (tap) = "setDisplayMode(false)" *ngIf="displayMode" padding-right>Edit</span> -->
<!-- <span float-right (tap) = "setDisplayMode(true)" *ngIf="!displayMode" padding-right>View</span> -->
<!-- <ion-buttons right>
				<button ion-button icon-only color="royal" (click)="goto('druginfo')">
					<span><img src="assets/imgs/cart.png" class="cart" style="position: relative;left: 30px;"></span> -->
<!-- <span><img src="assets/imgs/log.png" class="cart"></span> -->

<!-- <span class="cartcount" *ngIf="cartcount()">
							{{cartcount()}}
						</span> -->

<!-- </button>
				<button ion-button icon-only color="royal" (click)="shareMpCard()"> -->
<!-- <span><img src="assets/imgs/cart.png" class="cart" style="position: relative;left: 30px;"></span> -->
<!-- <span><img src="assets/imgs/share.png" class="cart"></span>
				</button>
			</ion-buttons>
		</ion-title>
	</ion-navbar>
</ion-header>
<ion-content no-padding> -->

<!-- <div id="delivery-home">

		<div class="saving-cont mp-bg-green" text-center>
			<a href="javascript:void(0);" class="iconshadow save-money" (click)="searchMedicines()">
				<ion-icon name="ios-search"></ion-icon>
				Search For Lowest Price
			</a>
		</div>

		<ion-grid>
			<ion-row style="border: 1.5px solid #62e0cb;border-radius: 5px;">
				<div class="slide-cont">
					<ion-slides pager autoplay="2000" loop="true" speed="500">
						<ion-slide>

							<h2 class="slider_text">Healthcare Affordable and On-Demand</h2> -->
<!-- <div class="border1"></div> -->
<!-- <div class="slide1">

							</div> -->
<!-- <div class="slide_backdrop">&nbsp;</div> -->
<!-- </ion-slide> -->

<!-- <ion-slide> -->
<!-- <h2 class="slider_text">FREE Rx Savings Card</h2> -->
<!-- <div class="border"></div> -->
<!-- <div class="slide2"> -->

<!-- </div> -->
<!-- <div class="slide_backdrop">&nbsp;</div> -->
<!-- </ion-slide>

						<ion-slide>

							<h2 class="slider_text">Recent Member Savings</h2> -->
<!-- <div class="border2"></div> -->
<!-- <div class="slide3">
							</div> -->
<!-- <div class="slide_backdrop">&nbsp;</div> -->
<!-- </ion-slide>
					</ion-slides> -->

<!-- </div>
			</ion-row>
		</ion-grid> -->
<!-- </div> -->

<!-- <div class="saving-cont save-box" text-center margin>
			<a href="javascript:void(0);" class="iconshadow save-money" (click) ="chooseMembership()" >Save Up To <span>80%</span> On Prescription Family & Pet</a>
		</div>  -->
<!-- <div class="logo-cont" text-center margin-top>
			<a href="javascript:void(0);" (click)="searchMedicines()" class="iconshadow">
				<img src="assets/imgs/bik.png" style="width:50%;float: left;"alt="bik" />
				<span class="some-text">Same Day <br /> On-demand <br /> Medi Delivery</span>
			</a>
	 </div> -->

<!-- <ion-grid>
			<ion-row>
				<ion-col col-6>
					<div class="save__box">
						<a href="javascript:void(0);" (click)="discount()">
							<h2>Save up to 80% On Prescription Family & Pets</h2>
							<img src="assets/imgs/medidelivery/tablet.png" />
						</a>
					</div>

				</ion-col>

				<ion-col col-6>
					<div class="same__day__box">
						<a href="javascript:void(0);" id="showVariation" (click)="showPrompt()">
							<h2>Same Day On-Demand Medicine Delivery</h2>
							<img src="assets/imgs/medidelivery/men.png" />
						</a>
					</div>

				</ion-col>
			</ion-row>

		</ion-grid>
	</div>
</ion-content> -->
<!-- <ion-footer>
	
	<div class="footer-cont" padding-top>
		<ion-row>
	        <ion-col col-12 no-padding>
	            <button (click)="searchMedicines()" ion-button class="custom custom_button" full>Order Same Day MediDelivery</button>
	        </ion-col>
	    </ion-row>
	</div>
</ion-footer> -->

<!-- Old Code -->

<!-- <mbsc-popup [options]="popupsettings" #variations="mobiscroll">
	<mbsc-listview [options]="lvSetting">
		<mbsc-listview-item>
			This service is available in limited zip codes for now 91406,90024, 91423,91401
		</mbsc-listview-item>
	</mbsc-listview>
</mbsc-popup> -->

<!-- <mbsc-popup [options]="popupsettings" #variations="mobiscroll">
	<ion-row>
		<ion-col col-12 no-padding>
			<h5 text-center>Check availability</h5>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col col-12 no-padding class="verify-phone-input">
			<input type="number" placeholder="Enter the your pincode..." [(ngModel)]="pincode" />
		</ion-col>
	</ion-row>
</mbsc-popup> -->

<!--
  Generated template for the HomePage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header class="home-header">
  <ion-navbar color="themeColor" class="top_mar1">
    <ion-buttons left>
      <button ion-button menuToggle>
        <img class="radius-img" src="{{userImageURL+user_id+loadUserImageParam}}" onError="this.src='assets/imgs/person.png'"/>
      </button>
    </ion-buttons>
    <ion-title>Hello!
       <!-- {{name +"!"}} -->
      </ion-title>
    <ion-buttons right>
      <button ion-button icon-only tappable (click)="goto('druginfo')">
        <ion-icon name="md-cart" ></ion-icon>
        <span class="cartCounter">{{TotalCartValue}}</span>
      </button>
      <button ion-button icon-only tappable (click)="shareMpCard()">
        <ion-icon name="md-share-alt" class="white-color"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="home-body bg-white">
 
  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding col-12 >
        <div class="flex-item flex-column white-color p-4 pr-3rem  ">
          <div class="center flex-item flex-row top_mar111 self">
            <label class="title-text">
              Welcome to Your Virtual Health Companion</label>
          </div>
          <div class="center flex-item flex-row">
            <label class="title-text"></label>
          </div>
          <div class="flex-item flex-row white-bg col-12 align-center search-container"  text-center >
            <!-- <ion-input type="text" placeholder="Search For Lowest Price" class="txt" style="color: black;"></ion-input> -->
            <button ion-button class="search-btn" no-margin icon-only color="pink" tappable (click)="lowPrice()">
              <ion-icon name="ios-search"></ion-icon>
              Search For Lowest Price On Meds
            </button>
          </div>
          <div class="col-12 align-center custom-class"  text-center >
            <!-- <ion-input type="text" placeholder="Search For Lowest Price" class="txt" style="color: black;"></ion-input> -->
            <button ion-button class="covidBtn" no-margin icon-only color="white" tappable (click)="openCovidUrl()">
              COVID-19 Vaccine Registration
            </button>
          </div>
        </div>
        
      </ion-col>
     
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <div class="flex-item flex-column diagram">
          <div class="align-center flex-item flex-row items-space-between col-12 row1">
            <div class="flex-item flex-column align-center white-bg z-index-3" (click)="rxDiscount()">
              <label class="title mb-4">Rx Discount</label>
              <div class="align-center box-shadow-normal flex-column flex-item items-center circle">
                <img src="assets/onboardingscreen/capcul.svg" alt="" srcset="">
                <span> Save upto 80%</span>
              </div>
            </div>
            <div class="flex-item flex-column align-center white-bg z-index-3" (click)="deliveryPopup()">
              <label class="title mb-4">Rx Delivery</label>
              <div class="align-center box-shadow-normal flex-column flex-item items-center circle">
                <img  src="assets/onboardingscreen/icon-gadi.svg" alt="" srcset="">
                <span> Same Day</span>
              </div>
            </div>
          </div>
          <div class="align-center flex-item flex-row items-center col-12">
            <img src="assets/imgs/homes/mediLogo.svg" alt="">
          </div>
          <div class="align-center flex-item flex-row items-space-between col-12 row2">
            <div class="flex-item flex-column align-center white-bg z-index-3" (click)="drAiInfo()">
              <div class="align-center box-shadow-normal flex-column flex-item items-center circle mb-4" >
                <img src="assets/onboardingscreen/ai.svg" alt="" srcset="">
                <span> Symptoms <br> checker</span>
              </div>
              <label class="title mb-4">Dr A.I.</label>
            </div>
            <div class="flex-item flex-column align-center white-bg z-index-3" (click)="healthInfo()">
              <div class="align-center box-shadow-normal flex-column flex-item items-center circle mb-4">
                <img src="assets/onboardingscreen/life.svg" alt="" srcset="">
                <span> Health Info <br> Storage</span>
              </div>
              <label class="title mb-4">My Health</label>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-slides pager="true" (ionSlideDidChange)="slideChanged()" (ionSlideDrag)="slideMoved()" class="so">
      <ion-slide>
        <div class="sample">
          <img src="assets/onboardingscreen/banner1.svg" class="">
        </div>
      </ion-slide>
      
      <ion-slide>
       
        <div>
          <img src="assets/onboardingscreen/banner2.svg" class="diag">
        </div>
        
      </ion-slide>
      
      <ion-slide>
        <div>
          <img src="assets/onboardingscreen/banner3.svg" class="diag">
        </div>
    
      </ion-slide>
      <ion-slide>
        <div>
          <img src="assets/onboardingscreen/banner4.svg" class="diag">
        </div>
      </ion-slide>
      
      </ion-slides> 
    <mbsc-popup [options]="updateVersionSettings" #updateVersion="mobiscroll" >
  
      <ion-row>
        <ion-col col-12 no-padding>
         <h3>New Update Available</h3>
         
        </ion-col>
      </ion-row>
      <ion-row>
        We have released some cool new features please update your app to the newest version.
        <br>
        If Your have any questions please email help@mymedipocket.com.
      </ion-row>
    
    </mbsc-popup> 
  </ion-grid>

  <!-- <div id="delivery-home">
    <h2 class="compare_price">
      Start Saving On Prescriptions <br />
      By Comparing Prices
    </h2>
    <div class="saving-cont mp-bg-green" text-center>
      <a
        href="javascript:void(0);"
        class="iconshadow save-money"
        (click)="searchMedicines()"
      >
        <ion-icon name="ios-search"></ion-icon>
        Search For Lowest Price
      </a>
    </div>

  
    <p class="health_txt">WITH HEALTH</p>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <p class="save_money">SAVE MONEY</p>
          <div class="save__box">
            <a href="javascript:void(0);" (click)="discount()">
              <h2>Save up to 80%*<br />On Prescriptions<br />Family & Pet</h2>
              <img src="assets/imgs/medidelivery/tablet.png" />
            </a>
          </div>
        </ion-col>

        <ion-col col-6>
          <p class="save_time">SAVE TIME</p>
          <div class="same__day__box">
            <a
              href="javascript:void(0);"
              id="showVariation"
              (click)="showPrompt()"
            >
              <h2>Same Day<br />On-Demand<br />Medicine Delivery</h2>
              <img src="assets/imgs/medidelivery/men.png" />
            </a>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> -->

</ion-content>