<!-- 
<ion-header>
	<ion-navbar>
		<ion-title>&nbsp;</ion-title>
	</ion-navbar>
</ion-header>

<ion-content no-padding>
	<div class="logo-cont">
		<div class="logo-image" padding-bottom>
			<div class="image"> 
				<img alt="logo" src="././././assets/imgs/logo-tagline-white.png">
			</div>
		</div> 
	</div>
	<div class="signin-cont-outer" >
		<div class="signin-cont" padding>
			<div class="page-title">
			<span>Create</span> your password
			</div>
			<div class="form-content">
				<form [formGroup]="passwordForm" novalidate >
				<ion-row>
					<ion-col col-12 no-padding>
						<span class="error-cont" *ngIf="passwordForm.get('password').hasError('required') && (passwordForm.get('password').touched || displayError)" >
							<ion-icon name="alert"></ion-icon>
							<span class="error-hover">Required</span>
						</span>
						<ion-label stacked class="white-space-normal">Password</ion-label>
						<ion-item no-padding class="item-username">
							<ion-input type="password" class="stackedissue" placeholder="password" formControlName="password" ></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-12 no-padding>
						<span class="error-cont" *ngIf="passwordForm.get('confirmpassword').hasError('required') && (passwordForm.get('confirmpassword').touched || displayError)" >
							<ion-icon name="alert"></ion-icon>
							<span class="error-hover">Required</span>
						</span>
						<ion-label stacked class="white-space-normal">Retype your Password</ion-label>
						<ion-item no-padding class="item-username">
							<ion-input type="password" class="stackedissue" placeholder="Retype your password" formControlName="confirmpassword" ></ion-input>
						</ion-item>
					</ion-col>
				</ion-row>

				</form>
			</div>
		</div>
	</div>
	<ion-fab bottom right>
		<button ion-fab class="custom" [disabled]= "showSpinner" (tap)="createPassword()" >
			<ion-icon name="ios-checkmark-circle-outline" *ngIf="!showSpinner"></ion-icon>
			<ion-spinner name="crescent" class="white" *ngIf="showSpinner"></ion-spinner>
		</button>
	</ion-fab>  
</ion-content> -->

<ion-header>
	<ion-navbar> </ion-navbar>
</ion-header>
<ion-content class="createPassword-body">
	<ion-grid>
		<ion-row class="mb-2rem">
			<ion-col class="logo-col" col-12>
				<div class="img-container">
					<img src="assets/imgs/medidelivery/logo.png" alt="" />
				</div>
			</ion-col>
			<ion-col class="text-center mb-2rem" col-12>
				<label class="small-heading"> Create new password</label>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col [formGroup]="passwordForm" col-12>
				<ion-item class="input-container" no-lines>
					<ion-label>Password</ion-label>
					<ion-input type="password" placeholder="password" formControlName="password"></ion-input>

				</ion-item>
				<ion-item class="input-container" no-lines>
					<ion-label>Retype your Password</ion-label>
					<ion-input type="password" placeholder="Retype your password" formControlName="confirmpassword">
					</ion-input>
				</ion-item>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-12>
				<button ion-button block class="default-btn" [disabled]="passwordForm.invalid"
					(tap)="createPassword()">Submit</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>