
page-create-password {
	// .text-input {
    //     margin: 13px 0px;
    // }
    // .item {
    // 	background:transparent;
    // }
	// .item.item-input.item-input-has-focus .item-inner,
    // .item.item-input.input-has-focus .item-inner {
    //     border-bottom-color: inherit;
    //     -webkit-box-shadow: none !important;
    //     box-shadow: none;
    // }
    // .item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    //     border-bottom-color: #d1d3d6;
    //     -webkit-box-shadow: none !important;
    //     box-shadow: none;
    // }

    // .item.item-input.item-input-has-focus .item-inner ion-input,
    // .item.item-input.input-has-focus .item-inner ion-input,
    // .item.item-input.item-input-has-focus .item-inner ion-textarea,
    // .item.item-input.input-has-focus .item-inner ion-textarea {
    //     border-color: #d1d3d6;
    // }

    // .item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner ion-input, .item.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner ion-input,
    // .item.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner ion-textarea, .item.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner ion-textarea
    // {
    //     border-color: #d1d3d6;
    // }

    // .item.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    //     border-color: inherit;
    //     -webkit-box-shadow: none !important;
    //     box-shadow: none !important;
    // }
    // .item.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner ion-input,
    // .item.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner ion-textarea {
    //     border-color: #d1d3d6;
    // }
    // .logo-cont{
    //     background-image: url(../assets/imgs/medidelivery/home_bg_grayed.png);
    //     background-repeat: no-repeat;
    //     width: 100%;
    //     height: 48vh;
    //     background-size: cover;
    //     position: relative;
    //     background-position: top center;
    // }
    // .logo-backdrop{
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     top: 0px;
    //     background: #5c5c5c;
    //     opacity: 0.6;
    // }
    // .logo-image {
	//     width: 58%;
	//     margin: 0 auto;
	//     padding-top: 16%;
	//     z-index: 1;
	//     text-align: center;
	// }
	// .fixed-content, .scroll-content {
	// 	margin-top: 0px !important;
	// }
	// .page-title{
    //     font-size: 2rem;
    //     font-weight: bold;
    //     padding-bottom: 7px;
	//     span{
	//         padding-bottom: 7px;
	//         border-bottom: 2px red solid; 
	//     }    
    // }
    // .white-space-normal {
    // 	white-space: normal;
    // }
    // .spinner.white circle {
    //     fill: #00d6ba;
    //     stroke: #fff;
    // }
    .bar-button-default {
        color: #00d6ba;
      }
      .createPassword-body {
        background: #fff;
        .grid {
          padding: 2rem;
       
          .input-container {
            border: 2px solid #00d6ba;
            border-radius: 6px;
            contain: none;
            overflow: inherit;
            margin-bottom: 3rem;
            .item-inner {
              margin-left: 0;
            }
            &:nth-child(2) {
              margin-bottom: 1.5rem;
              padding-right: 0.8rem;
            }
            .label {
              position: absolute;
              top: -19px;
              left: 20px;
              background-color: #fff;
              color: #00d6ba;
              padding: 0 0.75rem;
              font-weight: 300;
            }
            .icon {
              font-size: 2rem;
              margin: 0;
              display: flex;
              align-items: center;
              justify-content: center;
              color: #00d6ba;
            }
          }
        }
      }
}
