<ion-content class="authentication-body">
  <ion-grid>
    <ion-row>
      <ion-col class="logo-col" col-12>
        <div class="img-container">
          <img src="assets/imgs/medidelivery/logo.png" alt="" />
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text-center" col-12>
        <label class="small-heading" *ngIf="authType==='signUp'">
          Create account</label>
          <label class="small-heading" *ngIf="authType==='signIn'">
            Welcome back</label>
      </ion-col>
    </ion-row>
    <ion-row class="mb-2-big">
      <ion-col class="custom-col" col-12>
        <button
          ion-button
          [color]="authType==='signUp' ?'themeColor':'dark'"
          (click)="authType='signUp'"
          clear
        >
          Sign up
        </button>
        <div class="line">
          <span>|</span>
        </div>
        <button
          ion-button
          [color]="authType==='signIn' ?'themeColor':'dark'"
          (click)="authType='signIn'"
          clear
        >
          Sign In
        </button>
      </ion-col>
    </ion-row>
    <ion-row [ngSwitch]="authType">
      <ion-col [formGroup]="registerForm" *ngSwitchCase="'signUp'" class="text-center" col-12>
        <ion-item class="input-container" no-lines>
          <ion-label>Email</ion-label>
          <ion-icon class="icon" name="ios-mail" item-start></ion-icon>
          <ion-input type="email" formControlName="email" ></ion-input>
         
        </ion-item>
        <ion-item class="input-container" no-lines>
          <ion-label>Password</ion-label>
          <ion-icon
            class="icon"
            name="ios-unlock-outline"
            item-start
          ></ion-icon>
          <ion-input [type]="registerInputType" formControlName="password"></ion-input>
          <button item-end ion-button *ngIf="registerInputType==='text'" clear (click)="registerInputType='password'">
            <ion-icon class="icon" name="ios-eye"  ></ion-icon>
          </button>
          <button item-end ion-button *ngIf="registerInputType==='password'" clear (click)="registerInputType='text'">
            <ion-icon class="icon" name="ios-eye-off"  ></ion-icon>
          </button>
        </ion-item>
        <ion-item no-lines no-padding>
          <ion-label class="checkbox-text" >Agree to all terms & conditions</ion-label
          >
          <ion-checkbox color="themeColor" [checked]="terms" (ionChange)="onTerm()"></ion-checkbox>
        </ion-item>
        <p class="red font-bold mb-large" *ngIf="!terms">Please agree to our T&C</p>
        <button ion-button block class="default-btn" [disabled]="(registerForm.invalid)  || (!terms)" (click)="sendOTP()">Sign up</button>
      </ion-col>
      <ion-col [formGroup]="loginForm" *ngSwitchCase="'signIn'" class="text-center" col-12>
        <ion-item class="input-container" no-lines>
          <ion-label>Email</ion-label>
          <ion-icon class="icon" name="ios-mail" item-start></ion-icon>
          <ion-input type="email" formControlName="username"></ion-input>
        </ion-item>
        <ion-item class="input-container" no-lines>
          <ion-label>Password</ion-label>
          <ion-icon
            class="icon"
            name="ios-unlock-outline"
            item-start
          ></ion-icon>
          <ion-input [type]="signInputType" formControlName="password"></ion-input>
          <button item-end ion-button *ngIf="signInputType==='text'" clear (click)="signInputType='password'">
            <ion-icon class="icon" name="ios-eye"  ></ion-icon>
          </button>
          <button item-end ion-button *ngIf="signInputType==='password'" clear (click)="signInputType='text'">
            <ion-icon class="icon" name="ios-eye-off"  ></ion-icon>
          </button>        </ion-item>
        <div class="flex-item flex-row items-end">
          <button item-end no-margin
          ion-button
          color="themeColor" 
          no-padding
          clear
          (tap)="resetPassword()"
        >
         <span class="text-lowercase font-bold-3"> forgot password</span>
        </button>
        </div>  

        <button ion-button block class="default-btn" (tap)="doSignin()">Sign in</button>
        
      </ion-col>
    </ion-row>
    <ion-row>
       <!-- <ion-col col-12 no-padding>
        <div class="social-icon">
           <button (click)="loginWithFacebook()"><ion-icon name="logo-facebook"></ion-icon></button>
  
        </div> -->
      <!-- </ion-col>  -->
       <!-- <ion-col col-12 no-padding>
      <div class="socialRowDroid">
      <p>or Login via</p>
      
      <div class="socialLogin">
        <img src="assets/imgs/facebooklgo.png" (click)="loginWithFacebook()" />
      </div>
    </div>
  </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>
