
page-authentication {
  .authentication-body {
    background: #fff;
    .grid {
      padding: 2rem;
      .small-text {
        font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
      }
      .custom-col {
        display: flex;
        justify-content: center;
        align-items: center;
        .line {
          margin-left: 1rem;
          margin-right: 1rem;
          span {
            font-weight: 600;
            color: #00d6ba;
          }
        }
      }
      .input-container {
        border: 2px solid #00d6ba;
        border-radius: 6px;
        margin-bottom: 3rem;
        overflow: inherit;
        contain: none;
        .item-inner {
          margin-left: 0;
        }
        &:nth-child(2) {
          margin-bottom: 1.5rem;
        }
        .label {
          position: absolute;
          top: -19px;
          left: 20px;
          background-color: #fff;
          color: #00d6ba;
          padding: 0 0.75rem;
          font-weight: 300;
        }
        .icon {
          font-size: 2rem;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #00d6ba;
        }
      }
      .checkbox {
        margin: 9px 9px 9px 0 !important;
        &-icon,
        &-text {
          color: #00d6ba;
          border-color: #00d6ba;
          font-weight: 500;
        }
      }

     
    }
  }
}
